<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Success</h1>
        <hr>
        <p>You have successfully register for the event:</p>
        <!-- <p data-th-text="${eventName}"></p> -->
        <!-- <p data-th-text="${eventDate}"></p> -->
        <a th:href="@{/events/listings}">Back to Event Listing</a>
    </body>
</html>